@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(reset.css);

/* DEFAULT STYLES */
/* styling the basics. original author: paul irish TODO: consider: http://developer.yahoo.com/yui/base/ */
body, select, input, textarea { color: #444444; }
a, a:active, a:visited { color: #0085CF; }
a:hover { color: #003366; }
/* http://j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: rgba(200, 0, 0, 0.4); }

strong, th, h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h6 { font-size: 75%;  margin: 0.2em  0 0.2em;}
h5 { font-size: 100%; margin: 0.5em  0 0.2em;}
h4 { font-size: 125%; margin: 0.7em  0 0.5em;}
h3 { font-size: 150%; margin: 1em  0 0.5em;}
h2 { font-size: 200%; margin: 1em  0 0.5em;}
h1 { font-size: 250%; margin: 1.5em  0 0.75em;}
p  { margin: 1em 0 0.75em; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
small { font-size: 85%; }
td, td img { vertical-align: top; }


body {
  font: 14px/1.5em Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman";
  font-size: 1em;
  width: 48em;
  margin: 20px auto;
  padding:80px 60px 50px;
  border:1px solid #ccc;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#aaa'); /* IE6, IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#aaa')"; /* IE8 */
  -moz-box-shadow: 0 0 12px #aaa; /* FF3.5+ */
  -webkit-box-shadow: 0 0 12px #aaa; /* Saf3+, Chrome */
  box-shadow: 0 0 12px #aaa; /* Standard. Opera 10.5, IE9 */
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-weight: normal;
  text-align: left; 
}

a { 
  color: #fff;
  background: #4d97ff;
  text-decoration: none;
  padding: 0 2px 0 2px;
}

.markdowncitation {
  color: #4d97ff;
  background: none;
}

.markdowncitation a {
  color: #4d97ff;
  background: none;
}

.bibliography {
  background: #ddd;
  padding:20px;
  margin:30px 0;
}

hr { 
  background-color:#000;
  height:1px;
  border:0;
  margin:3em 0 0 0;
  display: block;
}

.footnotes hr {
	width: 40%;
}

a.reversefootnote, a[rev="footnote"] {
  color: #4d97ff;
  background: transparent;
}

a.footnote, a[rel="footnote"] {
  color: #4d97ff;
  background: none;
  text-decoration: none;
  font-size:x-small; 
  vertical-align:top;
  font-weight: bold;
}


.bibliography > p {
  margin:0;padding:0;
  font-family: 'Yanone Kaffeesatz', arial, serif;
  font-size: 1.5em;
}
.bibliography hr {display: none;}


img {
  padding: 0.5em;
  margin: 0 2em;
}

blockquote {
  margin: 1em 2em;
  padding: 12px;
  font-style: italic;
  background-color: #eee;
  border:1px solid #ddd;
}

blockquote p {
  margin: 0;
  padding: 0;
}

code {
  font-family: monaco,courier;
  line-height: 1.75em;
  background-color: #E2E8F2;
}

pre {
  background-color: #E2E8F2;
  border-left: 4px solid #CAD0DA;
  padding: 0.5em;
  font-family: monaco,courier;
  font-size: 0.85em;
  line-height: 1.75em;
  margin: 0 0 1.75em 0;
  white-space: pre-wrap;
  white-space: moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

table {
  border: solid black;
  border-width: 2px 0px;
  empty-cells: hide;
  border-spacing: 0px;
  padding: 2px;
  margin: 20px auto;
}
table caption {
  margin: 5px;
  text-align: center;
}
thead th {
  border: solid gray;
  border-width: 0 0 2px 0;
  padding: 5px;
}
.h {background: #d3e5ff;}
thead > tr:last-child > th { border-style: none; }
tbody > tr:first-child > td {
  border: solid gray;
  border-width: 1px 0 0 0;
}
tbody > tr:first-child > th {
  border: solid gray;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > td {
  border: solid black;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > th {
  border: solid black;
  border-width: 1px 0 0 0;
}
